.home {
    background-color: #F1FAEE
}

.header {

    background-color: #F1FAEE;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.srch-icon {
    padding-top: 3px;
    padding-left: 5px;
}

.search {
    display: flex;
    justify-content: center;
}

.input-group {

    max-width: 450px;
    align-items: center;
    padding-bottom: 30px;


}

.card {

    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    background-color: #F1FAEE;

}

input::placeholder {
    color: #457B9D;
    font-size: 1.2rem;
    text-align: center;
    background-color: #F1FAEE;
    font-family: fantasy;

}

.form-control {
    background-color: #F1FAEE;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

}


.titulo {
    color: #E63946;
    font-size: 1.8rem;
    font-family: fantasy;
    border-color: #1D3557;
    text-align: center;

}

.texto {
    color: #1D3557;
}


.btn {
    background-color: #E63946;
    color: #E5E5E5;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;

}